@page "/"

<h1>Avensia Table Tennis Elo Rating</h1>

<p>This app calculates Elo rating based on past table tennis matches. <br />
See the current ranking and add new players under <a href="/players">players</a>.<br />
Report completed matches under <a href="/matches">matches</a>.<br />
</p>
<h3>About Elo Rating</h3>
<p>Read more about Elo rating on <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>. 
The Elo rating system was originally developed for chess and similar systems are used 
in various computer games for matchmaking purposes.
The current settings for this ranking is K=50 with an initial rating of 1500. 
This means that if you lose to an opponent with the same rating as you, you will lose 25 rating and they will gain 25 rating.
If you lose to a more highly rated opponent you will lose less rating, whereas if you win "against the odds" you will gain more rating.</p>
<h3>About this App</h3>
<p>This app was built using <a href="https://learn-blazor.com/getting-started/what-is-blazor/">Blazor</a> with ASP.NET Core. 
    <a href="https://github.com/eriklindvall/ttelo">Repository</a> on Github. 
    Table tennis icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> 
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>

